<!DOCTYPE html>
<html lang="<%= config.language %>" color-mode="light">
  
  <%- partial('_partial/head') %>

  <body>
    <!-- 导航栏、头像、名字 -->
    <%- partial('_partial/header') %>

    <!-- 主题内容 -->
    <main><%- body %></main>

    <!-- 页脚 -->
    <%- partial('_partial/footer') %>

    <!-- <div class="tools-bar">
      <%- partial('_partial/backtop') %>
      <%- partial('_partial/search') %>
      <%- partial('_partial/colorscheme') %>
      </div> -->
  </body>

</html>






