<!DOCTYPE html>
<html lang="<%= config.language %>" color-mode="light">

  <%- partial('_partial/header') %>

  <body>
    <div id="main" >
      <%- partial('_partial/navigation') %> 

      <div class="main-container">
        <%- body %>
        <!-- <%- partial('_partial/footer') %> -->
      </div>

      <!-- <div class="tools-bar">
        <%- partial('_partial/backtop') %>
        <%- partial('_partial/search') %>
        <%- partial('_partial/colorscheme') %>
      </div> -->
    </div>
  </body>

</html>






