<header>
  <a href="<%- theme.avatar.path %> ">
    <!-- 头像取消懒加载，添加no-lazy -->
    <% if (config.lazyload && config.lazyload.enable) { %>
        <img class="avatar" no-lazy src="<%- theme.avatar.author_photo %>">
    <% } else { %>
        <img class="avatar" src="<%- theme.avatar.author_photo %>">
    <% } %>
  </a>
  <h1 class="nickname"><%- theme.avatar.author_nickname %></h1>
  <p class="description"><%- theme.avatar.author_description %> </p>
  <nav>
    <ul>
      <%
      for(let item of theme.navbar) {
        if (item.enable) {
      %>
        <li class="nav-item" data-path="<%- item.path %>">
          <a href="<%- item.path %>"><%- item.name %></a>
        </li>
      <%
          }
        }
      %>
    </ul>
  </nav>

  <%- js(['/js/activeNav.js']) %>
</header>
